<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f2f2f2;
        }
        .container {
            text-align: center;
            padding: 50px;
            border: 1px solid #ccc;
            border-radius: 20px;
            background-color: #fff;
            width: 80%; /* Adjust the width as needed */
            max-width: 400px; /* Set a maximum width */
        }
        h2 {
            margin-top: 0;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        label {
            margin-bottom: 10px; /* Add space below the label */
        }
        input[type="email"] {
            width: 80%;
            margin-bottom: 10px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Forgot Password</h2>
        <form action="/forgot-password" method="post">
            <label for="email">Enter your email</label>
            <input type="email" id="email" name="email" autocomplete="off" required value="<%= email || '' %>">
            <% if (errorMessage) { %>
                <p class="errorMessage"><%= errorMessage %></p>
            <% } %>
            <button type="submit">Verify</button>
        </form>
    </div>
</body>
</html>
